<!DOCTYPE html>
<html>
  <head>
    <title>Мысли на каждый день ({{ date }})</title>
    <link rel=icon href={{ url_for('static', filename='images/favicon.png') }} sizes="128x128" type="image/png">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <meta name="title" content="Мысли на каждый день ({{ date }})" />
	<meta name="description" content="{{ content_nohtml }}" />
	<link rel="image_src" href="{{ url_for('static', filename='images/backgrounds/' + image + '.jpg') }}" />

    <script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
  </head>
  <body>
    <div class="row main-row">
      <div class="parallax-container">
        <div class="parallax"><img src="{{ url_for('static', filename='images/backgrounds/' + image + '.jpg') }}"></div>
        <div class="col s8 offset-s2">
          <h4 class="center-align date"><span>{{ date }}</span></h4>
          <div class="card-panel thoughts">
            {% autoescape false %}
              {{ content }}
            {% endautoescape %}
          </div>
          <div class="center-align share-block">
			<script type="text/javascript">
				document.write(VK.Share.button({
				  url: 'http://mbisli.ru',
				  title: 'Мысли на каждый день ({{ date }})',
				  description: '{{ content_nohtml }}',
				  image: 'http://mbisli.ru{{ url_for('static', filename='images/backgrounds/' + image + '.jpg') }}',
				  noparse: false
				}, {type: "custom", text: '<button class="waves-effect waves-teal btn-flat grey lighten-3" type="submit" name="action">Поделиться мыслью<i class="material-icons right">send</i></button>'}));
			</script>
          </div>
          <h6 class="center-align date"><span>Лев Толстой &laquo;Мысли Мудрых Людей на Каждый День&raquo;, Издание В.М.Саблина, 1911</span></h6>
          <h6 class="center-align copyright">385 &copy; 2016</h6>
        </div>
      </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
      $('.parallax').parallax();
    });
    </script>
</body>
</html>